server {

        listen 80 default_server;
        listen [::]:80 default_server;

        server_name {{ domain_name }};

        location / {
                try_files $uri $uri/ =404;
        }

}